# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite

# Virtual environments
pipenv/
Pipfile.lock  

# Django
*.log
local_settings.py
media/
static/
clinic_project/clinic_project/settings.py/

# Environment variables
.env
.env.test
# Database dumps
*.dump
*.sql.gz
*.sql

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project specific
logs/
*.pid
